<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading" style="font-weight:bold"><fa-icon [icon]="angularIcon"></fa-icon>&nbsp;DIPLOMADO </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light"><fa-icon [icon]="homeIcon"></fa-icon>&nbsp;Inicio</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><fa-icon [icon]="promotionIcon"></fa-icon>&nbsp;Promociones</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><fa-icon [icon]="categoriesIcon"></fa-icon>&nbsp;Categorias</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><fa-icon [icon]="historyIcon"></fa-icon>&nbsp;Historial</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><fa-icon [icon]="helpIcon"></fa-icon>&nbsp;Ayuda</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle"><fa-icon [icon]="menuIcon"></fa-icon></button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">&nbsp;&nbsp;<fa-icon [icon]="shopingIcon"></fa-icon>&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">&nbsp;&nbsp;<fa-icon [icon]="userIcon"></fa-icon>&nbsp;&nbsp;</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid" style="padding:2%">

        <form>
          <div class="input-group mb-2" >
          <input type="text" class="form-control" placeholder="Buscar..." aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><fa-icon [icon]="searchIcon"></fa-icon></button>
          </div>
          </div>
      </form>

      <div class="row">

        <div class="col-md-3" style="padding:2%">
          <div class="card" style="padding:2%">
            <img class="card-img-top" src="https://i.blogs.es/d79273/s8-s8plus-02/1366_2000.jpg" alt="Card image">
            <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text"><small>Some example text.</small></p>
            <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="padding:2%">
          <div class="card" style="padding:2%">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdzYDhmGi2RdCj5RWiafVyCqaYTjxEiQMt3cG-NLgaVlYXBwND" alt="Card image">
            <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text"><small>Some example text.</small></p>
            <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="padding:2%">
          <div class="card" style="padding:2%">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcp40zdMgW2D1VLkFKxTWVmh0U7U4t9mxagqQ2-G1boYLcZMsEEg" alt="Card image">
            <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text"><small>Some example text.</small></p>
            <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="padding:2%">
          <div class="card" style="padding:2%">
            <img class="card-img-top" src="https://i.blogs.es/d79273/s8-s8plus-02/1366_2000.jpg" alt="Card image">
            <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text"><small>Some example text.</small></p>
            <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        </div>

      </div>



      <div class="card">
	<article class="card-group-item">

		<div class="filter-content">
			<div class="card-body">
			<form>



			</form>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->
</div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

</body>

</html>
